@using ItProject.Models.ArticleModels
@model List<ArticleModel>
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Article);
}

<h2>Article</h2>
<div class="row">
    <div class="col">
        @foreach (var article in Model)
        {
            <div class="row">
                <a asp-controller="Manage" asp-action="UpdateArticle" asp-route-id="@article.Id" class="btn btn-link">@article.Name</a>
                <a asp-controller="Manage" asp-action="DeleteArticle" asp-route-id="@article.Id" class="btn btn-primary">Delete</a>
            </div>
        }
    </div>
    <div class="col">
        <div class="row">
            <a asp-controller="Manage" asp-action="CreateArticle" class="btn btn-primary">Create</a>
        </div>
        <div class="row">
            <form action="~/Manage/Sort" method="post">
                <select name="Name">
                    <option selected value="Name">Name</option>
                    <option value="Date">Date</option>
                    <option value="Rating">Rating</option>
                </select>
                <select name="SortType">
                    <option selected value="Desk">Desk</option>
                    <option value="Ask">Ask</option>
                </select>
                <input type="submit" value="sort" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

