@using ItProject.Models.ArticleModels
@model List<ArticleModel>
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Article);
}

<h2>Article</h2>
    @foreach (var article in Model)
    {
        @:<button asp-action="" class="btn btn-link">@article.Name</button><a href="DeleteArticle/@article.Id" class="btn">delete</a>
    }


