@using ItProject.Models.ArticleModels
@model ArticleModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Article);
}

<h2>@Model.Name</h2>

<form action="../Test" method="post">
    <div class="form-group">
        <h3>
            Description:
        </h3>
        <textarea name="TextBody" cols="70" rows="10">@Model.Description</textarea>
        <input type="submit">
    </div>
</form>