@using ItProject.Models.ArticleModels
@using ItProject.Data
@{
    Layout = null;
}
@model ArticleModel


<form action="~/Article/CreateComment" method="post">
    <div class="row">
        <div class="col">
            <textarea name="Body" cols="70" rows="5"></textarea>
            <input name="ArticleId" type="hidden" value="@Model.Id" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input type="submit" value="Coment" />
        </div>
    </div>
</form>
@Html.Partial("_Comments", Model)
<script>
    setInterval(function () {
        $.get("../Article/GetComment/@Model.Id", (data) => {
            $('#Comment').replaceWith(data);
        });
    }, 5000);

</script>