@using ItProject.Models.ArticleModels
@{
    Layout = null;
}
@model List<StepModel>
<div class="list-group">
@foreach (var step in Model)
{
     <a href="../step/@step.Id" class="list-group-item list-group-item-action">@(step.Id). @step.Name</a>
}
</div> 