@using ItProject.Models.Articles
@{
    Layout = null;
}
@model List<Step>
<div class="list-group">
@foreach (var step in Model)
{
    @:<form>
    @:    <input type="hidden" value="@step.Id">
    @:    <a href="" class="list-group-item list-group-item-action"><input type="submit" value="@step.Name" /></a>
    @:</form>

}
</div>