@using ItProject.Models.Articles
@{
    Layout = null;
}
@model List<Step>
<div class="list-group">
@foreach (var step in Model)
{
    <a href="#" class="list-group-item list-group-item-action">@step.Name</a>
}
</div>